/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require_normalize
 *= require_tree .
 *= require_self
 */

html {

  font-size:16px;
  height:auto;

	body {
		background:url("background.jpg") center top no-repeat;
		background-size: cover;
        font: normal 62.5% Arial, sans-serif;
        height: 100%;
        margin: 0;
    }
}
 
.container { 
/*	border: 1px solid blue;
	border-radius: 10px; */
	color: white;
	margin: 10px auto;
	max-width: 1024px;
	padding: 5px;
	position: fixed;
	margin-left: 11.638250555967383%; /* 157 / 1349 */
	top: 50%;
	width: 100%;
	margin-top: -211.5px;

	.introduction {
		display: inline-block;
		width: 65%;

	    h1 {
		   font-size: 3.8em; 
	    }

	    p.text {
	    	font-size: 2.1em;
	    }

	    #tweet {
		    font-size:1.4em;

	        .data {
                font-size: 0.9285714285714286em;
                text-decoration: underline;
		    }
	    }
    }

	.forms {
		display: inline-block;
	   	width: 35%;
	   	color: black;
	   	vertical-align: top;

	   	div {
	   		border-radius: 4px;
	   		display: inline-block;
	   		margin: 10px;
	   		margin-bottom: 11px;
            
            h2 {
            	margin: 0;
            	padding: 0 10px 12px;
            	text-align: center;
               }
	   		}
    
        .login {
          	background-color: white;
          	border: 1px solid #CCD6DD;
          	border-radius: 3px;
          	color: #292F33;
          	display: block;
          	font-size: 1.3em;
          	margin-bottom: 11px;
          	padding: 4px;
          	overflow: hidden;

          	.completo {
          		box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
          		font-size: 1.3em;
          		width: 97.04142011834319%; /* 328 / 338 */
          		margin-bottom: 15px;
          		height: 24px;
        		margin-bottom: 15px;
          	      &:focus {        
          	  	    box-shadow: 0 0 8px rgba(112, 188, 114, .7); 
          	  	    display: inline-block;
          	  	    outline: none;
          	        }
          	}

          	.linea {
          		box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
          		font-size: 1.3em;
          		margin-right: .9135451336973303%; /* 3 / 328.391 */
          		margin-bottom: 15px;
                width: 54.20367793270826%; /* 178 / 328.391 */
                height: 24px;
          	      &:focus {        
          	  	    box-shadow: 0 0 8px rgba(112, 188, 114, .7); 
          	  	    display: inline-block;
          	  	    outline: none;
          	        }
          	}

            input[type="submit"] {
                background-color: #53a8e9;
                border: 1px solid #3b88c3;
                color: white;
                font-family: Arial;
                font-size: 1.4em;
                font-weight: bold;
                width: 41.721854304635764%;
                  &:hover {
                	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
                  }
            }

          	.boton {
          		border-radius: 4px;
          		box-shadow: none;
          		display: inline-block; 
          		height: 30px;
          		margin-bottom: 0;
          		vertical-align: top;
           	}

           	label {
           		display: inline-block;
           		width: auto;
           		padding-right: 7px;
           		   &:hover {
           		   	text-decoration:none;
           		   	box-shadow: none;
           		   	background-image: none;
           		   }
           	}

           	a {
           		display: inline-block;
           		text-decoration: none;
           		padding-left: 7px;
           		   &:hover{
           		   	 text-decoration:underline;
           		   }
           	}

        }

	    .sign {
	    	background-color: white;
	    	border: 1px solid #CCD6DD;
	    	border-radius: 3px;
	    	color: #292F33;
	    	display: block;
	    	font-size: 1.3em;
	    	padding: 4px;
	    	overflow: hidden;

	    	input { /* [] Se coloca entre estos corchetes el tipo de input que queremos afectar, en este caso seria text y password. 
	    	El problema es que ya lo separe anteriormente, ademas necesito alargar el boton de arriba pero no de abajo. */
	    		display: block;
	    		box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
	    		height: 24px;
	    		line-height: 20px;
	    		margin-bottom: 15px;
          	      &:focus {        
          	  	     box-shadow: 0 0 16px rgba(112, 188, 114, .7); 
          	  	     display: block;
          	  	     outline: none;
          	        }
          	}

          	.completo {
                width: 97.04142011834319%; /* 328 / 338 */
                font-size: 1.3em;
          	}

          	input[type="submit"] {
                background-color: #53a8e9;
                border: 1px solid #3b88c3;
                color: white;
                font-family: Arial;
                font-size: 1.4em;
                font-weight: bold;
                width: 70%;
                  &:hover {
                	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
                  }
            }

          	.boton {
          		border-radius: 5px;
          		box-shadow: none;
          		float: right;
          		height: 30px;
          		margin-bottom: 0;
          		margin-right: 5px;
          		display: inline-block;
          		overflow: hidden;
          	}
        }
    }
}
