/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=require_normalize
 *= require_tree .
 *= require_self
 */

html {

  font-size:16px;
  height:100%;

	body {
		background:url("background.jpg") center top no-repeat;
		background-size: cover;
        font: normal 62.5% Arial, sans-serif;
        height:100%;
        margin: 0;
        vertical-align: middle;
    }
}

html body img, html body video, html body audio {
  display:block;
}
 
.container { 
	border: 1px solid blue;
	margin: 0 auto;
	max-width: 1024px;
	width: 100%;
	color: white;

	.introduction {
		display: inline-block;
		width: 65%;

	    h1 {
		   font-size: 3.8em; 
	    }

	    p.text {
	    	font-size: 2.1em;
	    }

	    #tweet {
		    font-size:1.4em;

	        .data {
                font-size: 0.9285714285714286em;
                text-decoration: underline;
		    }
	    }
    }
	.forms {
		display: inline-block;
	   	width: 35%;
	   	color: black;
	   	vertical-align: top;

	   	div {
	   		display: inline-block;
	   		margin: 10px;
	   	}
    
        .login {
          	background-color: white;
          	border: 1px solid #CCD6DD;
          	border-radius: 3px;
          	color: #292F33;
          	display: block;
          	font-size: 1.3em;
          	margin-top: 10%;
          	padding: 4px;

        	input {
          	      &:focus {        
          	  	     box-shadow: 0 0 16px rgba(112, 188, 114, .7); 
          	  	     display: block;
          	  	     outline: none;
          	        }
          	}
        }

	    .sign {
	   	    border: 1px solid #CCD6DD;
	    	border-radius: 3px;
	    	background-color: white;
	    	display: block;
	    	font-size: 1.3em;
	    	margin-top: 40px;
	    	padding: 4px;
        }
    }
}
