<div class="container">

	<section class="introduction">

			<div>
			    <h1>Bienvenidos a TWITTER</h1>
                <p class="text">Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.</p>  
			</div>	

			<div id="tweet">
				<p>ce the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset shee</p>
				<p class="data">Tweet y foto de #danilito</p>
				<p class="data">sum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Man</p>
			</div>
		</section><!--
		--><section class="forms">
			<div class="login">
			  <h2>Login</h2>
				<form action="/login" method="post">
					<input type="text" placeholder="Correo Electronico">
					<input type="password" placeholder="Contraseña">
					<input type="submit" placeholder="Iniciar Sesion">
				</form>
			</div>

			<div class="sign">
 				<form action="/sign" method="post">
 				    <h2>Eres nuevo en Twitter<span>   Sign Up</span></h2>
                    <input typ='text' placeholder="Nombre Completo">   
			      	<input type="text" placeholder="Correo Electronico">
					<input type="password" placeholder="Contrasena">
					<input type="submit" placeholder="Iniciar Sesion">
				</form>
			</div>


	</section>

</div>