<!-- Esto dice que este archivo va a trabajar con html y con ruby al miso tiempo. -->
<h1>Esta vista esta en la carpeta views!</h1>

<ul>
	<li>Items</li>
</ul>
<ol>
	<li>Items</li>
</ol>

<img src="http://lorempixel.com/output/transport-q-g-640-480-4.jpg">

<a href="http://cinemasins.com/">Enlace</a>

<a href="/">Ir al inicio</a>