<!DOCTYPE html>
<html>
<head>
  <title>Twitterapp</title>
        <meta charset="utf-8">
        <meta name="index, follow">
        <meta name="description" content="Página web con responsive design.">
		<meta name="keywords" content="Palabras, clave, para, encontrar, nuestro, sitio">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, width = device-width">
		<meta name="author" content="World Tech Makers">
  <!-- Es como llamar <link> desde html al stylesheet de normalize -->
  <%= stylesheet_link_tag  'application', media: 'all' %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
